body {
    height: 100vh;
    margin: 0;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif; 
  }

.header, 
.intro, 
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
}

.header-text {
    color: #F9FAF8;
    font-weight: bold;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

button,
.subscription-section {
    background-color: #3882F6;
    color: #E5E7EB;
}


.header {
    justify-content: space-around;
    align-items: center;
}

.header-links,
.info-tiles {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.intro-left,
.hero-img {
    width: 25%;
    padding: 24px;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

button {
    border-radius: 8px;
    width: 80px;
}

.info-section {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    border: 2px solid #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.tile {
    width: 150px;
}

.testimonial-section {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92vw;
    padding: 80px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
}

.subscription-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    width: 60vw;
    margin-left: 20vw;
    border-radius: 10px;
    padding: 40px;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}